{% extends 'base.html' %}
{% load multiply %}
{% block content %}
<h1>Thank you for your order:</h1>
<h3>Your order has been paid and ready to ship</h3>
<h2>Order Summary:</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Lot Price</th>
        </tr>        
    </thead>
    {% for order_line in paid_basket %}
    <tr>
        <td>
            <img src="{{ order_line.product.thumbnail.url }}" alt="product image" style="max-height: 100px;">
            {{ order_line.product.title }}
        </td>
        <td>{{ order_line.number_of_products }}</td>
        <td>{{ order_line.price }}€</td>
        <td>{% multiply order_line.number_of_products  order_line.price %}€</td>
    </tr>
    {% endfor %}
    <tr style="background-color: bisque;">
        <td colspan=3>Total</td>
        <td colspan=1>{{ total_price }}€</td>
    </tr>
</table>

{% endblock %}